<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ title }}{% endblock %} ~ Billing demo</title>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

  {% block head %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('home') }}">Billing demo</a>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
             
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">Actions</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown">
                  <li><a class="dropdown-item" href="{{ url_for('add_provider') }}">Add provider</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('update_provider', id=10001) }}">Update provider name</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('add_truck') }}">Add truck data</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('update_track_html') }}">Update truck data</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('rates') }}">Download rates</a></li>
                  <li><a class="dropdown-item" href="#">Post new rates</a></li>
                  <li><a class="dropdown-item" href="#">Check truck data</a></li>
                  <li><a class="dropdown-item" href="#">Check billing data</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('ip') }}">Check ip</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('env') }}">Check env data</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('health') }}">Check health</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

  <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
        {% block content %}<h1>Welcome to Billing team Homepage!</h1>
        <p class="lead">Pick what you want to do from the navbar!</p>{% endblock %}
        </div>
    </div>
  </div>
</body>
</html>
