{% extends 'index.html' %}

{% block content %}
    <h1>{% block title %} {{ title }} {% endblock %}</h1>
    <p>Insert rates from /in/rates.xlsx after owerwriting the file</p>

    <form method="post" target="response_frame">
        <div class="input-group mb-3">
            <span class="input-group-text">Post new rates</span>
        <button class="btn btn-outline-secondary" type="submit">Submit</button>
        </div>
    </form>
    <div class="container">
        <iframe name="response_frame"></iframe>
    
    
   
{% endblock %}